div {
    height: 20px;
    border-radius: 20px;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 40%;
    border: 3px solid #9985fb;
    background-color: grey;
    box-shadow: 0 0 10px #9985fb;
}

.progress {
    width: 0%;
    background-color: lightskyblue;
    animation: progress 8s infinite;
}

@keyframes progress {

    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
    
}